@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Questrial&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Questrial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f8;
  overflow-x: hidden !important;
}
